body {
  font-weight: 400;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 18px;
}

#v {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.first-page {
  height: 100vh;
}

.container-fluid{
  padding: 15% 15%;
  max-width: 1728px;
}

.title {
  height: 50vh;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  line-height: 0.75;
  font-size: 10vw;
}

h2 {
  font-size: 3vw;
}

.no-color {
  visibility: hidden;
}

/* Navigation Bar **************************************************************** */
.navbar-brand img{
  height: 80px;
}

.navbar {
  padding: 2% 15%;
  align-items: center;
}

/* Responsible ******************************************************************* */

@media (max-width: 715px) {
  .navbar-brand img{
    height: 60px;
  }

  h2 {
    font-size: 5vw;
  }
}
