body {
  font-weight: 400;
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 18px;
}

.video-div {
  position: fixed;
  top: 0;
  left: 0;
}

#v1 {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

#v2 {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.first-page {
  height: 100vh;
}

.title {
  height: 50vh;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  line-height: 0.75;
  font-size: 10vw;
}

h2 {
  font-size: 3vw;
}

a {
  padding-right: 5px;
  padding-left: 5px;
}

.no-color {
  visibility: hidden;
}

/* Navigation Bar **************************************************************** */
.navbar-brand img{
  height: 80px;
}

.navbar {
  padding: 2% 15%;
  align-items: center;
}

/* Responsible ******************************************************************* */

@media (max-width: 715px) {
  .navbar-brand img{
    height: 60px;
  }

  h2 {
    font-size: 5vw;
  }

  .navbar {
    padding: 2% 2%;
  }
}

@media (max-width: 450px) {
  #v1 {
    display: none;
  }
}

@media (min-width: 451px) {
  #v2 {
    display: none;
  }
}
